// Sidebar
.ant-layout-sider .ant-menu .ant-menu-submenu .ant-menu-submenu-title .icon,
.ant-layout-sider .ant-menu .ant-menu-item .icon {
  width: 20px;
}

.ant-menu-item .ant-badge a {
  color: #545454;
}

.ant-table-wrapper.center .ant-table table {
  text-align: center;
  & thead tr th {
    text-align: center;
  }
}

.add-target-component {
  .ant-form-item {
    margin-bottom: 10px
  }
}

.realisasi-component {
  table tr:nth-last-child(1), table tr:nth-last-child(6) {
    background: #ffffe6;
  };
  table tr:nth-last-child(2), table tr:nth-last-child(3), table tr:nth-last-child(4), table tr:nth-last-child(5) {
    td:first-child {
      text-align: left;
    }
    .gx-link {
      color: #545454;
    }
  };
}

.text-black {
  color: #545454;
}

.ant-layout-header, .gx-layout-sider-header {
  background-color: #ffd500;
  color: #fff;
}

.ant-layout-header .gx-search-bar input[type="search"], .gx-lt-icon-search-bar-lg .gx-search-icon, .ant-modal-close, .ant-modal-title {
  color: #fff;
}

.ant-layout-header .gx-search-bar input[type="search"]::placeholder {
  color: rgba(255,255,255,0.7);
}

.ant-layout-sider .ant-menu .ant-menu-item > a, .ant-layout-sider .ant-menu-inline .ant-menu-submenu-title, .gx-avatar-name,
.ant-layout-sider .ant-menu-inline .ant-menu-item {
  //color: #5f6368;
  font-size: 13px;
  font-weight: 500;
}

.ant-modal-header {
  background-color: #ffd500;
}

.skp-bulanan-table table tbody td:last-child {
  padding: 0;
}

.success-background {
  background-color: #61BD4F;
  color: #fff;
}

.danger-background {
  background-color: #eb5a46;
  color: #fff;
}

.skp-bulanan-table .approval-status {
  line-height: 50px;
}
